.select {
	padding-inline-start: 0;
	padding-inline-end: 0;
	border: 0 !important;
	justify-content: center;
	font-weight: 500;
	font-size: 1rem;
	&:focus,
	&:focus-within {
		outline: none;
		outline-offset: none;
	}
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

	th,
	td {
		text-align: center;
		border: 1px solid #e5e7eb;
		padding: 0.5rem;
		vertical-align: middle;

		&.border-none {
			border: none;
		}
	}

	th {
		font-weight: 600;
	}
}

.modal-box {
	min-width: 600px;
	max-width: 700px;
}

.bi-check {
	font-size: 1.1rem;
	font-weight: bold;
}

.bi-x {
	font-size: 1.1rem;
	font-weight: bold;
}
