:host ::ng-deep {
    .p-inputtext {
        --p-inputtext-border-color-hover: #DDD06A;
        --p-inputtext-focus-border-color: #DDD06A;
    }
}

#background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/login-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(.5); // desenfoque + oscurecimiento
    z-index: -1; // se pone detrás del contenido
}
