<div class="h-12 flex items-center bg-ui" [class]="appService.isDrawerOpen() ? 'justify-end': 'justify-between'">
    @if (!appService.isDrawerOpen()) {
    <button data-testid="drawer-action" (click)="appService.switchDrawer()" class="h-12 bg-ui py-3 px-4">
        <span class="material-symbols-outlined">
            left_panel_open
        </span>
    </button>
    }
    <div class="flex gap-3 mx-4">
        <p data-testid="usuario">Usuario: {{ usuario()?.nombre }} | </p>
        <p data-testid="rol">Rol: {{ usuario()?.rol }} | </p>
        <p data-testid="ruta">{{ state() ? state() : ruta() }}</p>
    </div>
</div>
