<div class="flex w-full">
    <app-sidebar></app-sidebar>
    <div class="flex-grow w-full">
        <div class="flex h-screen flex-col">
            <app-header></app-header>
            @if (loading()) {
            <div class="flex-grow flex justify-center items-center">
                <div class="loader"></div>
            </div>
            } @else {
            <div class="home-container">
                <router-outlet class="flex-grow"></router-outlet>
            </div>
            }
        </div>
    </div>
</div>
<button [disabled]="appService.previousUrl === '/login'" (click)="location.back()"
    [class]="appService.previousUrl === '/login' ? 'opacity-50 pointer-events-none': 'hover:brightness-[1.10]'"
    class="h-10 mx-5 w-28 bg-ui rounded-full absolute bottom-10 right-10">
    <span class="flex justify-center items-center gap-3">
        <i class="material-symbols-outlined">undo</i>
        <p class="h-full">Volver</p>
    </span>
</button>