<lib-drawer
	[logout]="handleLogout"
	[paths]="paths()"
	(openChange)="sidebarOpen($event)"
	[themes]="{ light: 'corporate', dark: 'dim' }"
	[hideOnRoute]="true"
	[items]="[
		{
			label: 'Inicio',
			routerLink: '',
			icon: 'bi bi-house',
		},
		{
			label: 'Permisos',
			only: 'PERMISOS.READ',
			routerLink: 'permisos',
			icon: 'bi bi-person-badge',
		},
		{
			label: 'Logs',
			only: 'PERMISOS.READ',
			routerLink: 'logs',
			icon: 'bi bi-journal-text',
		},
	]"
	appname="MóvilBA"
	[rol]="authService.ranked()"
	[usuario]="(usuario | async)?.usuario?.nombre"></lib-drawer>
<div
	class="router-shell mt-[3.5rem] overflow-y-auto h-[calc(100vh-3.5rem)]"
	id="inner-router">
	<router-outlet></router-outlet>
</div>
<lib-toast></lib-toast>
<lib-info-modal></lib-info-modal>
<lib-toast></lib-toast>
