<lib-action-header
	[actions]="[
		{
			icon: 'bi bi-person-plus',
			action: openModalForm,
			label: 'Crear Usuario',
			only: 'PERMISOS.CREATE',
		},
	]"></lib-action-header>
<lib-simple-list
	[dataKeys]="[
		{ key: 'cuil', type: types.STRING },
		{ key: 'nombre', type: types.STRING },
		{ key: 'email', type: types.EMAIL },
		{ key: 'ultimo_login', type: types.DATE },
		{ key: 'deletedAt', type: types.BOOLEAN, trueCase: null },
	]"
	[headers]="['Cuil', 'Nombre', 'Email', 'Ultimo Login', 'Activo']"
	[actions]="[
		{
			icon: 'bi bi-card-checklist',
			info: 'Ver permisos',
			action: openPermissions,
		},
		{
			icon: 'bi bi-pencil-square',
			info: 'Editar',
			action: setEdit,
			disabled: !canEdit(),
		},
		{
			icon: 'bi bi-person-dash',
			info: 'Restringir',
			action: setDelete,
			condition: notDeleted,
			disabled: !canEdit(),
		},
		{
			icon: 'bi bi-arrow-repeat',
			info: 'Restaurar',
			action: userRestore,
			condition: isDeleted,
			disabled: !canEdit(),
		},
	]"
	[data]="(data$ | async)!">
</lib-simple-list>
<lib-form-modal></lib-form-modal>
<app-permisos-modal [selectedUser]="selectedUser()!"></app-permisos-modal>
