<lib-action-header
	[actions]="[
		{
			icon: 'bi bi-person-add',
			action: openModalForm,
			label: 'Agregar',
			only: 'PERMISOS.CREATE'
		}
	]"></lib-action-header>
<lib-simple-list
	[dataKeys]="[
		{ key: 'cuil', type: types.STRING },
		{ key: 'nombre', type: types.STRING },
		{ key: 'email', type: types.EMAIL },
		{ key: 'ultimo_login', type: types.DATE },
		{ key: 'deletedAt', type: types.BOOLEAN, trueCase: null }
	]"
	[headers]="['Cuil', 'Nombre', 'Email', 'Ultimo Login', 'Activo']"
	[actions]="[
		{
			icon: 'bi bi-card-checklist',
			info: 'Ver permisos',
			action: openPermissions
		},
		{
			icon: 'bi bi-pencil-square',
			info: 'Editar',
			action: cancel
		},
		{
			icon: 'bi bi-person-dash',
			info: 'Restringir',
			action: cancel
		}
	]"
	[data]="(data$ | async)!">
</lib-simple-list>
<lib-form-modal></lib-form-modal>
<!--PERMISOS MODAL-->
<dialog #permisos id="my_modal_3" class="modal">
	<div class="modal-box flex flex-col gap-3">
		<button
			(click)="permisos.close()"
			class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
			✕
		</button>
		<!--Body-->
		<h3 class="text-lg font-bold">
			Permisos de {{ selectedUser()?.nombre | titlecase }} [{{
				selectedUser()?.cuil
			}}]
		</h3>
		<table>
			<tr>
				<th rowspan="2">Módulo</th>
				<th colspan="4">Permisos</th>
			</tr>
			<tr>
				<td>Borrar</td>
				<td>Crear</td>
				<td>Editar</td>
				<td>Leer</td>
			</tr>
			@for (item of selectedUserPermissions(); track $index) {
			<tr>
				<td>{{ item.modulo.nombre | titlecase }}</td>
				@for (permiso of split(item.permisos.toString()); track $index) {
				<td>
					@if(permiso){
					<i class="bi bi-check"></i>
					}@else {
					<i class="bi bi-x"></i>
					}
				</td>
				}
			</tr>
			}
		</table>
	</div>
</dialog>
