<lib-simple-list
	[showSearch]="true"
	[showPagination]="true"
	[dataKeys]="[
		{ key: 'descripcion', type: types.STRING },
		{ key: 'tipo_log', type: types.STRING },
		{ key: 'created_at', type: types.DATE },
		{ key: 'usuario.nombre', type: types.STRING },
		{ key: 'usuario.email', type: types.EMAIL },
		{ key: 'usuario.cuil', type: types.STRING },
	]"
	[headers]="['Descripción', 'Tipo', 'Fecha', 'Usuario', 'Email', 'CUIL']"
	[actions]="[
		{
			icon: 'bi bi-info-circle',
			info: 'Datos',
			action: showData,
		},
	]"
	[data]="(data$ | async) || []">
</lib-simple-list>
<dialog #dialog class="modal">
	<div class="modal-box">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
				<i class="bi bi-x" style="font-size: 1.5rem"></i>
			</button>
		</form>
		<pre>{{ logInfo() }}</pre>
	</div>
</dialog>
