@use 'tailwindcss';

$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';
@use 'bootstrap-icons/font/bootstrap-icons';

@plugin "daisyui" {
	themes:
		corporate --default,
		dark --prefersdark;
}

/* Estilos globales para controlar el viewport */
html,
body {
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable;
}

/* Contenedor principal de la aplicación */
#main-router {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#inner-router {
	padding: 2rem;
}

.router-shell {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.router-shell router-outlet + * {
	flex-grow: 1;
	display: flex;

	flex-direction: column;
	height: 100%;
}
