:host::ng-deep {
    .p-button {
        border-radius: 0;
        border: 0;
    }

    .p-drawer {
        background-color: grey;
    }

    $background: #9baab8;
    .p-button {
        --p-button-primary-background: $background;
        --p-button-primary-hover-border-color: $background;
        --p-button-primary-border-color: $background;
        --p-button-primary-hover-border-color: 0;
        --p-button-primary-hover-background: $background;
        --p-button-primary-active-border-color: 0 $background;
        --p-button-primary-active-background: $background;
        --p-button-transition-duration: 0;
    }
}
