@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import "primeicons/primeicons.css";

$background: #A2AADB;

:root {
    --bg-ui: $background;
}

.bg-ui {
    background-color: $background;
}

.p-drawer {
    background: $background;
}

/*.p-tieredmenu{
    margin-left: 12.5rem;
}*/
.side-menu .pi {
    font-size: 1.25rem;
}

